## String Concatination In Python

In [2]:
string1 = "Muhammad"
string2 = " Inam"
string3 = string1 + string2
print(string3)

Muhammad Inam

## Python Type Casting 
1. Implicit casting - In Implicit  type casting, the  python complier internally  one varaible  into another type cast without the external action  of the user
2. Explicit casting -  In Explicit type casting, the user expliciting the force the complier the change the type to another type

In [ ]:
# Implicit type
# example how to typecast the compiler without external action
int_num = 90
float_num = 10.23
print(type(int_num))
print(type(float_num))

ans = int_num + float_num
print(ans)
print(type(ans))

In [11]:
# Explicit typeCasting
var = 90
print(type(var))
ans = str(var)
print(type(ans))

var_2 = 89
answere = var + var_2
print(float(answere))

<class 'int'>
<class 'str'>
179.0

## String Methods

In [12]:
name = "muhammad inam"
name.upper() # all letters Upperacse

'MUHAMMAD INAM'

name.capitalize() # first letter capitalized

In [27]:
main_name= "MUHAMMMAD INAM KHAN"
main_name.lower() # all letter convert the lower case

'muhammmad inam khan'

In [14]:
name.title() # this method all word fisrt letter capitalize like title heading

'Muhammad Inam'

In [23]:
nike_nam = 'mani inam'
print(nike_nam) 
nike_nam.replace("mani", 'muhammad') # this method replace the word example here !

mani inam

'muhammad inam'

In [33]:
para_random = "This is Python Guide Code for Every Python student and This Code Easy to understand"
para_random.count("Code") # this count method find the same word of paragraph but is case sansitive like Code !== code 
# para_random.count("code")

2

In [34]:
fisrt_name = "Muhammad"
last_name = "Inam"

"my first name is {} and last name is {}".format(fisrt_name, last_name)

'my first name is Muhammad and last name is Inam'

In [37]:
my_name="Muhammad Tahir"
my_name*10 # string not addition support but multipilication support in python

'Muhammad TahirMuhammad TahirMuhammad TahirMuhammad TahirMuhammad TahirMuhammad TahirMuhammad TahirMuhammad TahirMuhammad TahirMuhammad Tahir'

## Relational Operator in Python
1. == is equal to
2. ">"= is greater and equal to
3. =< is less than and equal to
4. ">" is Greater than
5. "<" is less than 
6. != is not equal to

In [46]:
num =3 
num2= 3

num == num2 # its return the True
num != num2 # its return False
num >= num2 # its return true
num <= num2 # its return true
num < num2 # its return always false beacuse the value 3 and 3 
num > num # same here

False

## Boolean Operator
1. "and" this operator both condition true return true other False
2. "or"  this operator both condition any one true and both true return True both False return False
3. "not" return value opposite to the true value of expression

In [48]:
# and operator
print(True and False)
# or Operator
print(True or False)
# not operator
print(not False)

False
True
True