# Series

In [1]:
import pandas as pd

In [2]:
data=[1,2,3,4]

In [4]:
# simple list convert the series data
series_data=pd.Series(data)
print(series_data)

0    1
1    2
2    3
3    4
dtype: int64

In [7]:
# check the data type of list and after list convert the series
print(type(series_data))
print(type(data))

<class 'pandas.core.series.Series'>
<class 'list'>

# Access the Elemets

In [8]:
series_data[0] # interger indexing
series_data[2:4] # perform the slicing

2    3
3    4
dtype: int64

## Operation in Pandas

In [9]:
s_1=pd.Series([1,2,3,4,5])
s_2=pd.Series([6,7,8,9,10])

In [11]:
result=s_1+s_2

In [12]:
print(result)

0     7
1     9
2    11
3    13
4    15
dtype: int64

In [15]:
# load the csv format data in jpyter notebook through the pandas
df=pd.read_csv("taxonomy.csv")

In [18]:
df.head()

  taxonomy_id                     name parent_id     parent_name
0         101                Emergency       NaN             NaN
1      101-01        Disaster Response       101       Emergency
2      101-02           Emergency Cash       101       Emergency
3   101-02-01        Help Pay for Food    101-02  Emergency Cash
4   101-02-02  Help Pay for Healthcare    101-02  Emergency Cash

In [19]:
# now check columns of csv file
df.columns

Index(['taxonomy_id', 'name', 'parent_id', 'parent_name'], dtype='object')

In [20]:
copy_1=df['parent_name'][0:9]

In [21]:
type(copy_1)

pandas.core.series.Series

In [22]:
self_indexes= ['a','b','c','d','e','f','g','h', 'i']
copy_2=pd.Series(list(copy_1), index=self_indexes)

In [23]:
copy_2

a               NaN
b         Emergency
c         Emergency
d    Emergency Cash
e    Emergency Cash
f    Emergency Cash
g    Emergency Cash
h    Emergency Cash
i    Emergency Cash
dtype: object

In [26]:
copy_2.iloc[4]

'Emergency Cash'

In [28]:
copy_2.loc['d']

'Emergency Cash'

In [33]:
series_1=pd.Series([1,2,3,4,5,6,7], index=[1,2,3,4,5,6,7])
series_2=pd.Series([7,8,9,10,11,12,13,14], index=[2,3,41,4,5,7,34,23])

In [39]:
all_series=pd.concat([series_1, series_2], sort=False)

In [40]:
all_series

1      1
2      2
3      3
4      4
5      5
6      6
7      7
2      7
3      8
41     9
4     10
5     11
7     12
34    13
23    14
dtype: int64

In [41]:
all_series[4]

4     4
4    10
dtype: int64

In [42]:
all_series[5]

5     5
5    11
dtype: int64

In [43]:
res=series_1+series_2

In [44]:
res

1      NaN
2      9.0
3     11.0
4     14.0
5     16.0
6      NaN
7     19.0
23     NaN
34     NaN
41     NaN
dtype: float64