# SQL Connect to Python

In [ ]:
# !pip  install mysql-connector-python

In [1]:
import mysql.connector

In [2]:
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="inam@1234"
    
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000248FBE1CB30>

# Create DataBase

In [3]:
cursor=mydb.cursor()

In [4]:
cursor.execute("CREATE DATABASE IF NOT EXISTS python_db")

# Check the DataBases

In [5]:
cursor.execute("SHOW DATABASES")

In [6]:
for x in cursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('python_db',)
('sakila',)
('sqldatabase',)
('students',)
('sys',)
('world',)

# Use the DataBase

In [7]:
cursor.execute("USE python_db")

# Create a Table

In [11]:
sql_table="create table pyourse(id INT UNIQUE, name VARCHAR(40), age INT)"
cursor.execute(sql_table)

# Insert The Data in Table

In [15]:
sql_table_data_qurey='insert into pyourse value (%s, %s, %s)'
sql_table_data=(3,"habib", 17)

In [16]:
cursor.execute(sql_table_data_qurey, sql_table_data)
mydb.commit() # its is required but dont insert the data in table

### How to check data insert the table

In [7]:
cursor.execute("select * from pyourse")
data=cursor.fetchall()
for i in data:
    print(i)

(1, 'inam', 18)
(2, 'tahir', 16)
(3, 'habib', 17)
(4, 'Khan', 20)
(5, 'Kareem', 40)
(6, 'Haron', 20)
(7, 'Valid', 32)
(8, 'Haseeb', 34)
(9, 'Sammer', 20)

# Insert the Many Valuse to table

In [24]:
sql_table_data_qurey='insert into pyourse value (%s, %s, %s)'
sql_table_data=[
    (4, "Khan", 20),
    (5, "Kareem", 40),
    (6, "Haron", 20),
    (7, "Valid", 32),
    (8, "Haseeb", 34),
    (9, "Sammer", 20),
]

In [25]:
cursor.executemany(sql_table_data_qurey, sql_table_data)
mydb.commit() # its is required but dont insert the data in table

In [26]:
cursor.execute("select * from pyourse")
data=cursor.fetchall()
for i in data:
    print(i[1] , "and age is", i[2] )

inam and age is 18
tahir and age is 16
habib and age is 17
Khan and age is 20
Kareem and age is 40
Haron and age is 20
Valid and age is 32
Haseeb and age is 34
Sammer and age is 20

# Write a Condition to data

In [28]:
sql_cond_query="select name, age from pyourse where age > 20"
cursor.execute(sql_cond_query)
cond_data=cursor.fetchall()
for i in cond_data:
    print(i[0] , "and age is", i[1] )

Kareem and age is 40
Valid and age is 32
Haseeb and age is 34

# Update the sql table data

In [13]:
sql_update_table_data_query="update pyourse set name='muhammad' where name = 'inam'"
cursor.execute(sql_update_table_data_query)
mydb.commit()
# print(update_data)

cursor.execute("select * from pyourse")
data=cursor.fetchall()
for i in data:
    print(i[1] , "and age is", i[2] )

# Delete to table

In [ ]:
sql_delete_queryy='DELETE '