## Logical Operator In Python

- and this operator if the both condition true so return true another false
- or this operator if the any one condition return true so return true and all condition false return false
- not this operator if the true convert false nad false convert true

In [4]:
# and operator 

var_1 = 10
var_2 = 20
if(var_1 == 10 and var_2 >= 20):
    print("True")
else:
    print("False")

True

In [6]:
# or operator
if(var_1 == 10 or var_2 > 20):
    print("True")
else:
    print("False")

False

In [8]:
# not operator
if(not var_1 != 10):
    print("True")

True

## Loops In Python
### For Loop
1. For loop iterates over a sequence (list, tuple, string) or other iterable objects

In [10]:
list_1 = [10,20,30,40,50,60,70,80,90,100]

for i in list_1 :
    print(i)

10
20
30
40
50
60
70
80
90
100

### Range Function

In [11]:
for i in range(6):  # 0 to 5 always n-1
    print(i)

0
1
2
3
4
5

In [14]:
for i in range(0, len(list_1)):
    print(list_1[i])

10
20
30
40
50
60
70
80
90
100

In [1]:
#now check the negative number iterate the loop througe range function
for i in range(-10, 11):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10

In [5]:
l_1=[10,20,30,40,50,60,70,80,90,100]

l2=[]

for i in l_1:
    print(i)
    l2.append(i+10)
print(l2)

10
20
30
40
50
60
70
80
90
100
[20, 30, 40, 50, 60, 70, 80, 90, 100, 110]

In [21]:
dict_1 = {'name':'sachin', 'age': 22, 'city':'bangalore'}
dict_2=dict_1.items()

keys=[]
val=[]
for i in dict_2:
    keys.append(i[0])
    val.append(i[1])
print(keys)
print(val)

['name', 'age', 'city']
['sachin', 22, 'bangalore']

In [24]:
learn_dict = {
    "launch-date":{12,14,16},
    "courses": {"python": 2000, "java": 1000, "c++": 500},
    'mentor': { 'inam', 'sachin', 'sagar', 'sachin'}
}

for i in learn_dict.values():
    print(i)

{16, 12, 14}
{'python': 2000, 'java': 1000, 'c++': 500}
{'sagar', 'inam', 'sachin'}

In [41]:
i,j=0,0
for i in range(0,5):
    print(f"i={i}")
    for j in range(0,i+1):
        print(f"j={j}")

i=0
j=0
i=1
j=0
j=1
i=2
j=0
j=1
j=2
i=3
j=0
j=1
j=2
j=3
i=4
j=0
j=1
j=2
j=3
j=4

In [53]:
table_num = int(input("Enter The Table Number"))
i,j = 1,1

for i in range(2, table_num):
    for j in range(1 , table_num ):
        result = i * j
        print(f"{i} x  {j} = {result}")

2 x  1 = 2
2 x  2 = 4
2 x  3 = 6
2 x  4 = 8
2 x  5 = 10
2 x  6 = 12
2 x  7 = 14
2 x  8 = 16
2 x  9 = 18
2 x  10 = 20
3 x  1 = 3
3 x  2 = 6
3 x  3 = 9
3 x  4 = 12
3 x  5 = 15
3 x  6 = 18
3 x  7 = 21
3 x  8 = 24
3 x  9 = 27
3 x  10 = 30
4 x  1 = 4
4 x  2 = 8
4 x  3 = 12
4 x  4 = 16
4 x  5 = 20
4 x  6 = 24
4 x  7 = 28
4 x  8 = 32
4 x  9 = 36
4 x  10 = 40
5 x  1 = 5
5 x  2 = 10
5 x  3 = 15
5 x  4 = 20
5 x  5 = 25
5 x  6 = 30
5 x  7 = 35
5 x  8 = 40
5 x  9 = 45
5 x  10 = 50
6 x  1 = 6
6 x  2 = 12
6 x  3 = 18
6 x  4 = 24
6 x  5 = 30
6 x  6 = 36
6 x  7 = 42
6 x  8 = 48
6 x  9 = 54
6 x  10 = 60
7 x  1 = 7
7 x  2 = 14
7 x  3 = 21
7 x  4 = 28
7 x  5 = 35
7 x  6 = 42
7 x  7 = 49
7 x  8 = 56
7 x  9 = 63
7 x  10 = 70
8 x  1 = 8
8 x  2 = 16
8 x  3 = 24
8 x  4 = 32
8 x  5 = 40
8 x  6 = 48
8 x  7 = 56
8 x  8 = 64
8 x  9 = 72
8 x  10 = 80
9 x  1 = 9
9 x  2 = 18
9 x  3 = 27
9 x  4 = 36
9 x  5 = 45
9 x  6 = 54
9 x  7 = 63
9 x  8 = 72
9 x  9 = 81
9 x  10 = 90
10 x  1 = 10
10 x  2 = 20
10 x  3 = 30
10 x  4 = 40
10 x  5 = 50
10 x  6 = 60
10 x  7 = 70
10 x  8 = 80
10 x  9 = 90
10 x  10 = 100

In [54]:
#Python Dictionary fromkeys() Method
keys_=("name", "age", "rule")
value_=("Muhammad", 19, "AI-Engineer")

thisDict = dict.fromkeys(keys_, value_)
print(thisDict)

{'name': ('Muhammad', 19, 'AI-Engineer'), 'age': ('Muhammad', 19, 'AI-Engineer'), 'rule': ('Muhammad', 19, 'AI-Engineer')}

### Jumping Statement In Python
- break
- continue

In [66]:
for i in range(0, 6):
    if (i ==2):
        break
   
        # print("else statement")
    print(i, 'if statement')
print(i)

0 if statement
1 if statement
2

In [59]:
list_1 = ["name","age", "rule", "work"]

for i in range(len(list_1)):
    if (list_1[i] == "rule"):
        break
    print(list_1[i])

name
age

In [70]:
for i in range(6):
    if i == 4:
        break
    print(i)
else:
    print("some new")

0
1
2
3

In [69]:
# Continue statement
for i in range(6):
    if i == 4:
        continue
    print(i)
else:
    print("some new")

0
1
2
3
5
some new

In [71]:
# built in sum and for loop use create new sum 

list_2=[1,2,3,4,5,6,1,3,4,9,8]
sum(list_2)

46

In [72]:
result =0
for i in list_2:
    result = result + i

print(result)

46

In [74]:
tup_1 =(1,2,4)
set_1 = {1,2,3,4,5,6}
for i in set_1:
    print(i)

1
2
3
4
5
6

In [76]:
# pass Statement 
for i in list_2:
    if i % 2!=0:
        pass
    else:
        print(i)

2
4
6
4
8

## While Loop

In [6]:
# whilem  loop syntex

i = 0
while i < 10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

In [7]:
num = int(input("Enter the number: "))
starting_point=0
counter=1

while counter < num:
    starting_point = starting_point + counter
    counter+=1
print(starting_point)

45

In [13]:
# Factorial of Given Number -> 5 = 5*4*3*2*1
num_1= int(input("Enter the Number"))
factorial=1
while num_1 > 0:
    factorial = factorial * num_1
    num_1 -=1
print(factorial)

120

In [5]:
# Fibbonaci Series
a = 0
b = 1

for i in range(10):
    print(a)
    c = a + b
    a = b
    b = c

0
1
1
2
3
5
8
13
21
34

In [3]:
a_1 =0
b_1 = 1
number = int(input("Enter the num"))
counter_fi = 0
while counter_fi < number:
    print(a_1)
    c = a_1+b_1
    a_1 = b_1
    b_1 = c
    counter_fi = counter_fi + 1

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

In [17]:
# reverse the string without built in method 
s = "Inam"
rev =""
length = len(s)
print(length)
while length > 0:
    rev = rev + s[length - 1]
    length -= 1    
print(rev)

4
manI