## List
List are used to multiple items in a single variable
1. List can contains any arbitary value
2. Nested list
3. we can store different data type a signle varaible is called list
4. we can add lists
5. we can multiply list

In [1]:
list_1 = ["muhmmad", "Inam", "Khan", "AI-Engineer"]
print(list_1)

['muhmmad', 'Inam', 'Khan', 'AI-Engineer']

In [2]:
list_2=[100,90,87,"price", "discount", True, False]
print(list_2)

[100, 90, 87, 'price', 'discount']

In [3]:
list_3 = [90.9, "Amount", "value", [1,10,9,2,4,5], "diffValue"]
print(list_3)

[90.9, 'Amount', 'value', [1, 10, 9, 2, 4, 5], 'diffValue']

In [9]:
# len() method find the list length
len(list_3)

5

In [13]:
# list indexing
list_3 = [90.9, "Amount", "value", [1,10,9,2,4,5], "diffValue"]
print(list_3[2])
print(list_3[3])
print(list_3[3][1])

value
[1, 10, 9, 2, 4, 5]
10

In [23]:
# list slicing
list_3 = [90.9, "Amount", "value", [1,10,9,2,4,5], "diffValue"]
print(list_3[1:4])
print(list_3[0:5:2]) # last parameter means gap for value
print(list_3[0:5:3])
print(list_3[::-1]) # reverse the list
# negative slicing
print(list_3[-4:-1])

['Amount', 'value', [1, 10, 9, 2, 4, 5]]
[90.9, 'value', 'diffValue']
[90.9, [1, 10, 9, 2, 4, 5]]
['diffValue', [1, 10, 9, 2, 4, 5], 'value', 'Amount', 90.9]
['Amount', 'value', [1, 10, 9, 2, 4, 5]]

In [ ]:
# what thw add the string in the list
str_1= "Muhammad"
str_list=["inam", "khan", 90, 99]
# print(str_1 + str_list) # not can only concatenate str (not "list") to str

In [2]:
# what the add two list
list_one=["inam", "khan", "AI-Engineer", 90]
list_two=["oppo", "windows", "radnom-words"]
print(list_one + list_two)

['inam', 'khan', 'AI-Engineer', 90, 'oppo', 'windows', 'radnom-words']

In [3]:
# What the multiply the list
list_one*3

['inam',
 'khan',
 'AI-Engineer',
 90,
 'inam',
 'khan',
 'AI-Engineer',
 90,
 'inam',
 'khan',
 'AI-Engineer',
 90]

In [8]:
# how to change the string data type in list
one_str="Muhammad"
list((one_str))
print(type(one_str))

<class 'str'>

## list Methods

In [9]:
list_three=["Muhammad", "Inam", "Tahir", "Habib"]
list_three.append("Muzammil")
list_three

['Muhammad', 'Inam', 'Tahir', 'Habib', 'Muzammil']