## List
List are used to multiple items in a single variable
1. List can contains any arbitary value
2. Nested list
3. we can store different data type a signle varaible is called list
4. we can add lists
5. we can multiply list

In [1]:
list_1 = ["muhmmad", "Inam", "Khan", "AI-Engineer"]
print(list_1)

['muhmmad', 'Inam', 'Khan', 'AI-Engineer']

In [2]:
list_2=[100,90,87,"price", "discount", True, False]
print(list_2)

[100, 90, 87, 'price', 'discount']

In [3]:
list_3 = [90.9, "Amount", "value", [1,10,9,2,4,5], "diffValue"]
print(list_3)

[90.9, 'Amount', 'value', [1, 10, 9, 2, 4, 5], 'diffValue']

In [9]:
# len() method find the list length
len(list_3)

5

In [13]:
# list indexing
list_3 = [90.9, "Amount", "value", [1,10,9,2,4,5], "diffValue"]
print(list_3[2])
print(list_3[3])
print(list_3[3][1])

value
[1, 10, 9, 2, 4, 5]
10

In [23]:
# list slicing
list_3 = [90.9, "Amount", "value", [1,10,9,2,4,5], "diffValue"]
print(list_3[1:4])
print(list_3[0:5:2]) # last parameter means gap for value
print(list_3[0:5:3])
print(list_3[::-1]) # reverse the list
# negative slicing
print(list_3[-4:-1])

['Amount', 'value', [1, 10, 9, 2, 4, 5]]
[90.9, 'value', 'diffValue']
[90.9, [1, 10, 9, 2, 4, 5]]
['diffValue', [1, 10, 9, 2, 4, 5], 'value', 'Amount', 90.9]
['Amount', 'value', [1, 10, 9, 2, 4, 5]]

In [ ]:
# what thw add the string in the list
str_1= "Muhammad"
str_list=["inam", "khan", 90, 99]
# print(str_1 + str_list) # not can only concatenate str (not "list") to str

In [2]:
# what the add two list
list_one=["inam", "khan", "AI-Engineer", 90]
list_two=["oppo", "windows", "radnom-words"]
print(list_one + list_two)

['inam', 'khan', 'AI-Engineer', 90, 'oppo', 'windows', 'radnom-words']

In [3]:
# What the multiply the list
list_one*3

['inam',
 'khan',
 'AI-Engineer',
 90,
 'inam',
 'khan',
 'AI-Engineer',
 90,
 'inam',
 'khan',
 'AI-Engineer',
 90]

In [8]:
# how to change the string data type in list
one_str="Muhammad"
list((one_str))
print(type(one_str))

<class 'str'>

## list Methods

In [9]:
list_three=["Muhammad", "Inam", "Tahir", "Habib"]
list_three.append("Muzammil")
list_three

['Muhammad', 'Inam', 'Tahir', 'Habib', 'Muzammil']

In [7]:
# insert method insert nay data any way list insert the list fisrt value list of index and second value
list_three=["Muhammad", "Inam", "Tahir", "Habib"]
list_three.insert(2, [78,'ko'])
list_three

['Muhammad', 'Inam', [78, 'ko'], 'Tahir', 'Habib']

In [10]:
#extend method on list this method iterable like "Mu" = "M", "u" but not iterable integer value
list_three.extend(["kHAN", "John"])
list_three.extend("Muhammad")
list_three

['Muhammad',
 'Inam',
 [78, 'ko'],
 'Tahir',
 'Habib',
 'kHAN',
 'John',
 'kHAN',
 'John',
 'M',
 'u',
 'h',
 'a',
 'm',
 'm',
 'a',
 'd']

In [11]:
# index method in list this index method give the value and return the index number and one more this if your list contain same value its return the fisrt index of value
list_three.index("kHAN")

5

In [13]:
# pop method in list this pop method delete the list value index number but by default last index
list_three.pop(2)
list_three

['Muhammad',
 'Inam',
 'Tahir',
 'Habib',
 'kHAN',
 'John',
 'kHAN',
 'John',
 'M',
 'u',
 'h',
 'a',
 'm',
 'm',
 'a']

In [14]:
# remove method in list remove the items value base remove method get the value and remove the items
list_four=["Ko", "Jo", "Mo", "lo"]
list_four.remove('Mo')

In [15]:
list_four

['Ko', 'Jo', 'lo']

In [17]:
# sort method in list sort the value but not mixing value like string and intergers
list_five=[1,2,4,5,6,7,5,3,2,2]
list_five.sort()
list_five

[1, 2, 2, 2, 3, 4, 5, 5, 6, 7]

In [19]:
list_four.sort()
list_four

['Jo', 'Ko', 'lo']

In [20]:
list_six=[1,6,7,3,5,6,88,6,5,5,4,5,66,7,7,5,45,4,4,6,67,6,5,5]
list_six.sort(reverse=True)
list_six

[88, 67, 66, 45, 7, 7, 7, 6, 6, 6, 6, 6, 5, 5, 5, 5, 5, 5, 5, 4, 4, 4, 3, 1]

In [23]:
# count method in list check the value exist two time
list_six.count(5)

7

In [24]:
list_six[::-1]

[1, 3, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 7, 7, 7, 45, 66, 67, 88]