## Tuples In Python
1. Tuples in similar to List That the Object in tuple are immutable which means we cannot the change the elements of a tuples once assigned
2. Tuples are enclosed the parenthesis ()
3. Tuples are ordered, indexing and slicing
4. tuples are contain the same multiple values

In [2]:
tup1=("Muhammad", "Inam", 18, 203, ["Muhammad","Tahir", 17,309], True)
tup1[4][1] # nested indexing in Tuples and same is list

'Tahir'

In [5]:
#slicing in typles
tup1[3:]

(203, ['Muhammad', 'Tahir', 17, 309], True)

In [ ]:
tup1*3 #three time multiply and copy paste the data on tuples like that

#### Tuples only two methods

In [22]:
tup2=("Muuhammad", "Inam", "Tahir", 18,18)

In [24]:
tup2.count(18) # count function ko jo value pass karat hai woh check karta hai ka ya value list ys tuple ma kitna time hai

2

In [ ]:
tup2.index(18)

## Set in Python
1. set are unordered but remove and add the value after creation
2. set are not allowed the duplicate value and all value unique

In [28]:
x={}
print(type(x))

<class 'dict'>

In [30]:
y={90,98,78,"Muhammad","Inam", "Kareem", 78,90, 89, "Muhammad"}

In [31]:
y

{78, 89, 90, 98, 'Inam', 'Kareem', 'Muhammad'}

In [32]:
# add , update abd remove function in set
y.add("Habib")

In [33]:
y

{78, 89, 90, 98, 'Habib', 'Inam', 'Kareem', 'Muhammad'}

In [34]:
y.update({"Muzammil", "Ali", "hasnain"})
# you can added the multiple value to use update

In [35]:
y

{78,
 89,
 90,
 98,
 'Ali',
 'Habib',
 'Inam',
 'Kareem',
 'Muhammad',
 'Muzammil',
 'hasnain'}

In [36]:
y.remove("hasnain") # you can remove the value in set you can use the remove function

In [37]:
y

{78, 89, 90, 98, 'Ali', 'Habib', 'Inam', 'Kareem', 'Muhammad', 'Muzammil'}

In [8]:
list_A = [1, 2, 3, 4, 5, 6, 7, 8, 92, 2, 2, 2, 2, 10]

set_A = set(list_A)  # Convert the list to a set
print(set_A)         # Print the set
print(type(set_A))   # Print the type of the set

{1, 2, 3, 4, 5, 6, 7, 8, 10, 92}
<class 'set'>

In [11]:
set_A.add(100)  
set_A   
list_A_Ag = list(set_A)  # Convert the set to a list
print(list_A_Ag)         # Print the list

[1, 2, 3, 4, 5, 6, 7, 8, 100, 10, 92]

In [14]:
list_A_Ag.sort()  # Sort the list
second_last_high_num = list_A_Ag[-2]
second_first_low_num = list_A_Ag[1]
print(f"Second last highest number is: , second_last_high_num:{second_last_high_num}")
print(f"Second first lowest number is: , second_first_low_num:{second_first_low_num}")

Second last highest number is: , second_last_high_num:92
Second first lowest number is: , second_first_low_num:2

#### Union and Intersection function in Python

![Union and Intersection](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSA_hSuMhCwmQmK17LJRUxgYatatgTecHtIQQ&s)

In [20]:
x_axis = set(["hello", "world", "python", "programming", "language" ,8.98,90,"inam"])
y_axis = set(["hello", "world", "python", "programming", "language", "is", "awesome", 90 ,8.98,90,"inam"])

intersection_val = x_axis.intersection(y_axis) # intersection function is use to find the common value in both set
union_val = x_axis.union(y_axis) # union function is use to merge the both set

difference_val = x_axis.difference(y_axis) # difference function is use to find the difference value in both set

# another method to find the intersection and union
intersection_val2 =  x_axis & y_axis
union_val2 = x_axis | y_axis

print(intersection_val2)
print(union_val2)

print(intersection_val)
print(union_val)
print(difference_val)

{'world', 'hello', 8.98, 'programming', 'inam', 'language', 90, 'python'}
{'world', 'is', 'hello', 8.98, 'awesome', 'programming', 'inam', 'language', 90, 'python'}
{'world', 'hello', 8.98, 'programming', 'inam', 'language', 90, 'python'}
{'world', 'is', 'hello', 8.98, 'awesome', 'programming', 'inam', 'language', 90, 'python'}
set()

In [21]:
# min max and sum function in list and set
A = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
B= {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

print(f"the minimum value in list A is: {min(A)}")
print(f"the maximum value in list A is: {max(A)}")
print(f"the sum of value in list A is: {sum(A)}")

print(f"the minimum value in set B is: {min(B)}")
print(f"the maximum value in set B is: {max(B)}")
print(f"the sum of value in set B is: {sum(B)}")

the minimum value in list A is: 1
the maximum value in list A is: 10
the sum of value in list A is: 55
the minimum value in set B is: 1
the maximum value in set B is: 10
the sum of value in set B is: 55

## No Mutable sequence  in a set
 A set not have  a mutable element such as list or dictionary in it. if any , it return  as follow

In [22]:
# set_A = {"Hello python", "Hello world", 90, ["inam", 100]}

TypeError: unhashable type: 'list'

In [24]:
# pop and push in set
B.pop()
print(B)
B.pop()
print(B)

{3, 4, 5, 6, 7, 8, 9, 10}
{4, 5, 6, 7, 8, 9, 10}