## Tuples In Python
1. Tuples in similar to List That the Object in tuple are immutable which means we cannot the change the elements of a tuples once assigned
2. Tuples are enclosed the parenthesis ()
3. Tuples are ordered, indexing and slicing
4. tuples are contain the same multiple values

In [2]:
tup1=("Muhammad", "Inam", 18, 203, ["Muhammad","Tahir", 17,309], True)
tup1[4][1] # nested indexing in Tuples and same is list

'Tahir'

In [5]:
#slicing in typles
tup1[3:]

(203, ['Muhammad', 'Tahir', 17, 309], True)

In [ ]:
tup1*3 #three time multiply and copy paste the data on tuples like that

#### Tuples only two methods

In [22]:
tup2=("Muuhammad", "Inam", "Tahir", 18,18)

In [24]:
tup2.count(18) # count function ko jo value pass karat hai woh check karta hai ka ya value list ys tuple ma kitna time hai

2

In [ ]:
tup2.index(18)

## Set in Python
1. set are unordered but remove and add the value after creation
2. set are not allowed the duplicate value and all value unique

In [28]:
x={}
print(type(x))

<class 'dict'>

In [30]:
y={90,98,78,"Muhammad","Inam", "Kareem", 78,90, 89, "Muhammad"}

In [31]:
y

{78, 89, 90, 98, 'Inam', 'Kareem', 'Muhammad'}

In [32]:
# add , update abd remove function in set
y.add("Habib")

In [33]:
y

{78, 89, 90, 98, 'Habib', 'Inam', 'Kareem', 'Muhammad'}

In [34]:
y.update({"Muzammil", "Ali", "hasnain"})
# you can added the multiple value to use update

In [35]:
y

{78,
 89,
 90,
 98,
 'Ali',
 'Habib',
 'Inam',
 'Kareem',
 'Muhammad',
 'Muzammil',
 'hasnain'}

In [36]:
y.remove("hasnain") # you can remove the value in set you can use the remove function

In [37]:
y

{78, 89, 90, 98, 'Ali', 'Habib', 'Inam', 'Kareem', 'Muhammad', 'Muzammil'}